<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>Voga Medium.otf</string>
        <string>GILROY-BLACK.OTF</string>
        <string>GILROY-BLACKITALIC.OTF</string>
        <string>GILROY-BOLD.OTF</string>
        <string>GILROY-BOLDITALIC.OTF</string>
        <string>GILROY-EXTRABOLD.OTF</string>
        <string>GILROY-EXTRABOLDITALIC.OTF</string>
        <string>GILROY-HEAVY.OTF</string>
        <string>GILROY-HEAVYITALIC.OTF</string>
        <string>GILROY-LIGHT.OTF</string>
        <string>GILROY-LIGHTITALIC.OTF</string>
        <string>GILROY-MEDIUM.OTF</string>
        <string>GILROY-MEDIUMITALIC.OTF</string>
        <string>GILROY-REGULAR.OTF</string>
        <string>GILROY-REGULARITALIC.OTF</string>
        <string>GILROY-SEMIBOLD.OTF</string>
        <string>GILROY-SEMIBOLDITALIC.OTF</string>
        <string>GILROY-THIN.OTF</string>
        <string>GILROY-THINITALIC.OTF</string>
        <string>GILROY-ULTRALIGHT.OTF</string>
        <string>GILROY-ULTRALIGHTITALIC.OTF</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
